:root {
    --font-color: black;
    --btn-color: #821131;
    --label-color: #f1c08c;
    --label-bg-color: #C7253E;
}

body {
    background-image: url("./images/backgroundPikachu.jpg");
    background-color: rgb(255, 196, 0);
    background-position: center;
    background-repeat: no-repeat;
    color: var(--font-color);
    align-items: center;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.heading {
    height: 175px;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.heading>a {
    color: black;
    width: 60vw;
}

.quiz_interface {
    padding-top: 40px;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: flex-end;

}




.quiz_section {
    display: flex;
    flex-direction: row;
    justify-items: center;
}


.page {
    display: none;
}

.score-page {
    width: 100%
}

.btn_section {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    /* width: 700px; */
    gap: 20px;
}

a {
    color: #f1c08c;
    text-decoration: none;
}


input[type="radio"] {
    display: none;
}

label {
    display: block;
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    background-color: var(--label-color);
    cursor: pointer;
    display: grid;
    place-content: center;
    border: 1px inset black;
    font-family: monospace;
    box-shadow: 5px 5px #821131;

    &:hover {
        background-color: #f3d4b4;
    }
}

input[type="radio"]:checked+label {
    background-color: var(--label-bg-color);
    color: var(--label-color);

    &:hover {
        color: #f3d4b4;
    }

}



.question {
    display: flex;
    justify-content: space-between;
}


.image>img {
    width: 200px;
    height: 200px;
    background-color: red;
    box-shadow: 5px 5px #821131;
}

.options {
    width: 300px;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.homePageBtn {
    display: none;
    width: 500px;
}

.hide {
    visibility: hidden;
}


.entry {
    font-size: 2rem;
    font-weight: 700;
    text-wrap: balance;
}


button {
    background-color: var(--btn-color);
    color: #F1D3B2;
    border: none;
    border-radius: 50px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    cursor: pointer;
    font-family: cursive;

    &:hover {
        background-color: #b91b47;
    }
}

.results {
    display: none;
}

.results>ol>li {
    height: 30px;
    margin-left: 10px;
}

.results>ol>li>img {
    width: 20px;
    height: auto;
    margin: auto;
}

.homePageBtn {
    width: 200px;
}

.score {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}


.headImg {
    width: 3rem;

}

.hitmonchanImg {
    margin-left: 40px;
}

.mewImg {
    width: 4.5rem;
    margin-right: 40px;
}


footer {
    /* background-color: red; */
    width: 100%;

}

/* pokeball */
.pokeball {
    width: 100px;
    height: 100px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    /* animation: rotate 3s  linear; */


}

.rotateBall {
    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-direction: linear;
    animation-iteration-count: 1;
}

.top {
    background-color: red;
    height: 50%;
    width: 100%;
    border-radius: 1000px 1000px 0 0;
    border-bottom: .27rem solid black;
}

.bottom {
    background-color: white;
    height: 50%;
    width: 100%;

    border-radius: 0 0 1000px 1000px;
    border-top: .27rem solid black;

}

/* .line{
    border-block:2px solid black
    width:100%;
} */
.small-ball {
    border: .26rem solid black;
    width: 20%;

    height: 20%;
    border-radius: 50%;
    display: grid;
    place-content: center;
    position: absolute;
    background-color: white;
}

.small-inside-ball {
    border: .1rem solid black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:412px) {

    body {
        background-position: left;
    }

    .heading {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 300;
        display: flex;
        min-height: 250px;
        height: 176.576px;
        flex-direction: column;
    }


    .quiz_interface {
        align-items: center;
        height: 100vh;
    }

    .question {
        display: block;
        justify-content: center;
    }

    .entry {
        font-size: 16px;
        text-wrap: balance;
        text-align: center;
    }

    .image>img {
        width: 150px;
        height: auto;
        margin-block: 30px;
    }

    .image {
        display: flex;
        justify-content: center;
        height: 200px;
    }


    .options {
        margin-bottom: 30px;
    }

    label {
        width: 200px;
        height: 25px;
        font-size: 20px;
    }

    button {
        width: 180px;
        height: 35px;

        font-size: 1rem;
    }

    .btn_section {
        /* width: 400px; */
        flex-direction: column;
        gap: 15px;
    }


    .headImg {
        width: 1rem;
        margin: 0;
    }

    .mewImg {
        width: 1.5rem;
    }

    .page>li:nth-child(7) {
        margin-bottom: 100px;
    }

    .pokeball {
        width: 30px;
        height: 30px;
    }

    .top,
    .bottom {
        border-width: .01rem;
    }

    .small-inside-ball {
        display: none;
    }
}